.additional-catalog__section {
  position: relative;
}

.additional-catalog__wrap {
  .site-size;
  margin-top: -4px;
}

.additional-catalog__title {
  .basic-font-brand;
  font-size: 24px;
  color: @heading-color;
  margin: 31px 20px 0 20px;
  border-bottom: 1px solid @border-color;
  padding-bottom: 32px;
}

.additional-catalog__title::after {
  .adaptive-line;
  width: calc(50vw - 33%);
  top: 15px;
  left: 266px;
}

.additional-catalog-item__title {
  .basic-font-brand;
  .text-style__additional-catalog;
  text-transform: uppercase;
  margin-top: -5px;
}

.additional-catalog__table {
  .basic-font-paragraph;
  .text-style__paragraph--big;
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}

.additional-catalog__item {
  border-bottom: 1px solid @border-color;
  padding-bottom: 20px;
  min-height: 130px;
}

.additional-catalog__list {
  list-style-type: none;
  margin-left: -20px;
  width: 320px;
}

.additional-catalog__button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-top: 11px;
  width: 280px;
  height: 40px;
  margin-top: 5px;
}

@media (min-width: @tablet-width) {
  .additional-catalog__wrap {
    width: 767px;
  }

  .additional-catalog__list {
    margin-left: -10px;
    margin-top: 45px;
  }

  .additional-catalog__item {
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
    border-top: 1px solid @border-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    min-height: 140px;
  }

  .additional-catalog__item:first-child,
  .additional-catalog__item:nth-child(2),
  .additional-catalog__item:nth-child(3) {
    border-bottom: none;
  }

  .additional-catalog__title {
    border: none;
    font-size: 36px;
    margin-left: 65px;
    margin-top: 67px;
  }

  .additional-catalog__title::before {
    .adaptive-line;
    width: calc(50vw - 45%);
    top: 25px;
    right: 735px;
  }

  .additional-catalog__title::after {
    .adaptive-line;
    width: calc(50vw - 7%);
    top: 25px;
    left: 437px;
  }

  .additional-catalog-item__title {
    font-size: 20px;
    margin-left: 40px;
    width: 200px;
    position: relative;
    top: 30px;
  }

  .additional-catalog__button {
    width: 633px;
    height: 40px;
    margin-left: 36px;
  }


  .additional-catalog__table dd {
    margin-right: 30px;
  }

  .additional-catalog__table dt {
    margin-right: 15px;
  }

  .additional-catalog__table {
    font-size: 16px;
    justify-content: flex-end;
    width: 340px;
    margin-left: 360px;
  }
}

@media (min-width: @desktop-width) {
  .additional-catalog__title::before,
  .additional-catalog__title::after {
    display: none;
  }

  .additional-catalog__wrap::before {
    .adaptive-line;
    width: 100vw;
    top: 86px;
    left: calc(50% - 50vw);
  }

  .additional-catalog__list {
    margin-left: 0;
  }

  .additional-catalog__item {
    border-left: none;
    border-right: none;
    align-items: center;
    justify-content: flex-start;
    width: 895px;
    padding-bottom: 3px;
    padding-top: 5px;
    flex-wrap: nowrap;
    min-height: 71px;
  }

  .additional-catalog-item__title {
    margin-left: 2px;
    margin-top: -10px;
    width: 180px;
  }

  .additional-catalog__button {
    width: 245px;
    height: 40px;
    padding: 12px 91px 12px 91px;
    margin-left: 11px;
    margin-top: 12px;
  }

  .additional-catalog__wrap {
    width: 1300px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
  }

  .additional-catalog__section {
    margin-top: -20px;
  }

  .additional-catalog__title {
    margin-left: -3px;
    margin-top: 60px;
    background-color: #ffffff;
    width: 420px;
    text-align: center;
  }

  .additional-catalog__table {
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    margin-left: 117px;
    margin-top: 28px;
  }

  .additional-catalog__table dt {
    margin-left: 25px;
  }

  .additional-catalog__list div {
    display: flex;
    justify-content: flex-start;
  }
}
