.additional-goods {
  min-height: 210px;
  border: 1px solid @section-background-color;
  width: 320px;
}

.additional-goods__title {
  .basic-font-brand;
  .text-style__button;
  text-transform: uppercase;
  margin-left: 60px;
}

.additional-goods__text {
  .basic-font-paragraph;
  .text-style__paragraph--small;
  margin-left: 50px;
  margin-top: 11px;
}

.additional-goods__button {
  .order-button;
  .basic-font-brand;
  background-color: @section-background-color;
  padding: 13px 94px 12px 97px;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  margin-top: 25px;
}

.additional-goods__title::before {
  content: "";
  background-image: url("/img/icon-plus-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  display: block;
  width: 31px;
  height: 31px;
  margin-top: 27px;
  margin-left: 80px;
}
