.additional-catalog__section {
  position: relative;
}

.additional-catalog__title {
  .basic-font-brand;
  font-size: 24px;
  color: @heading-color;
  margin: 31px 20px 0 20px;
  border-bottom: 2px solid @section-background-color;
  padding-bottom: 30px;
}

.additional-catalog__title::after {
  content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 3px;
    width: 53px;
    background-color: @brand-color;
    top: 15px;
    left: 267px;
}

.additional-catalog-item__title {
  .basic-font-brand;
  .text-style__additional-catalog;
  text-transform: uppercase;
}

.additional-catalog__table {
  .basic-font-paragraph;
  .text-style__paragraph--big;
  display: flex;
  justify-content: space-between;
}

.additional-catalog__item {
  border-bottom: 1px solid @border-color;
  padding-bottom: 20px;
}

.additional-catalog__list {
  list-style-type: none;
  margin-left: -20px;
  width: 320px;
}

.additional-catalog__button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-top: 11px;
  width: 280px;
  height: 40px;
}

@media (min-width: @tablet-width) {

  .additional-catalog__list {
    margin-left: -10px;
  }

  .additional-catalog__item {
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
    border-top: 1px solid @border-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
  }

  .additional-catalog__item:first-child,
  .additional-catalog__item:nth-child(2),
  .additional-catalog__item:nth-child(3) {
    border-bottom: none;
  }

  .additional-catalog__title {
    border: none;
    font-size: 36px;
    margin-left: 60px;
  }

  .additional-catalog__title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: @brand-color;
    top: 25px;
    right: 737px;
  }

  .additional-catalog__title::after {
    content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      height: 3px;
      width: 325px;
      background-color: @brand-color;
      top: 25px;
      left: 443px;
  }

  .additional-catalog-item__title {
    font-size: 20px;
    margin-left: 40px;
  }

  .additional-catalog__button {
    width: 633px;
    height: 40px;
    margin-left: 40px;
  }

  .additional-catalog__table dd {
    margin-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .additional-catalog__item {
    border-left: none;
    border-right: none;
    align-items: center;
    justify-content: space-between;
    width: 895px;
  }

  .additional-catalog__button {
    width: 245px;
    height: 40px;
    padding: 12px 91px 12px 91px;
  }

  .additional-catalog__wrap {
    display: flex;
    align-items: center;
  }
}
