.catalog-title {
  .basic-font-brand;
  .text-style__title;
  margin-left: 22px;
}

.catalog-item__title {
  .basic-font-brand;
  .text-style__button;
  text-transform: uppercase;
}

.catalog-table {
  .basic-font-paragraph;
  .text-style__paragraph--small;
  margin-left: 20px;
}

.catalog-button {
  padding: 11px 108px 10px 111px;
  margin-right: 20px;
  display: block;
}

.catalog-item {
  padding-bottom: 25px;
  border-top: 1px solid @section-background-color;
  border-bottom: 1px solid @section-background-color;
}

.catalog-list {
  list-style-type: none;
  width: 320px;
  border: 1px solid @section-background-color;
  display: flex;
  flex-direction: column;
}
