.client-contacts__title {
  .basic-font-brand;
  .text-style__form-page--h2;
  margin-left: 20px;
  width: 190px;
  position: relative;
}

.client-contacts__title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  height: 3px;
  width: calc(50vw - 40%);
  background-color: @brand-color;
  top: 15px;
  left: 216px;
}

.client-contacts__label {
  position: relative;
}

.client-contacts__span {
  .basic-font-brand;
  .text-style__form-element;
  color: #222222;
}

.client-contacts__input--email {
  min-width: 219px;
  min-height: 45px;
}

.client-contacts__input--phone {
  min-width: 204px;
  min-height: 45px;
  margin-top: 15px;
}

.client-contacts__icon--email {
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-mail.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 15px;
  left: 240px;
}

.client-contacts__icon--phone {
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 25px;
  left: 240px;
}

.client-contacts__wrap {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .client-contacts__title {
    font-size: 36px;
    width: 548px;
    margin-left: 51px;
    text-align: center;
    background-color: #ffffff;
    z-index: 1;
  }

  .client-contacts__wrap::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: @brand-color;
    top: 656px;
    left: calc(50% - 50vw);
  }

  .client-contacts__wrap::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: @brand-color;
    top: 878px;
    left: calc(50% - 50vw);
  }

  .client-contacts__title::after {
    display: none;
  }

  .client-contacts__wrap {
    margin-left: 70px;
  }

  .client-contacts__input--email {
    min-width: 551px;
    min-height: 52px;
    margin-left: 25px;
  }

  .client-contacts__input--phone {
    min-width: 535px;
    min-height: 52px;
    margin-left: 20px;
  }

  .client-contacts__icon--email {
    left: 600px;
    top: 20px;
  }

  .client-contacts__icon--phone {
    left: 600px;
    top: 30px;
  }

  .client-contacts__span {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .client-contacts__wrap {
    flex-direction: row;
    align-items: flex-end;
  }

  .client-contacts__wrap::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: @brand-color;
    top: 470px;
    left: calc(50% - 50vw);
  }

  .client-contacts__wrap::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: @brand-color;
    top: 637px;
    left: calc(50% - 50vw);
  }

  .client-contacts__title {
    margin-left: 40px;
    width: 560px;
  }

  .client-contacts__label:nth-child(2) {
    margin-left: 75px;
  }

  .client-contacts__input--email {
    min-width: 486px;
  }

  .client-contacts__input--phone {
    min-width: 472px;
  }

  .client-contacts__icon--email {
    left: 540px;
  }

  .client-contacts__icon--phone {
    left: 540px;
  }
}
