.client-comment__title {
  .basic-font-brand;
  .text-style__form-page--h2;
  margin-left: 20px;
  position: relative;
}

.client-comment__title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  height: 3px;
  width: 158px;
  background-color: @brand-color;
  top: 15px;
  left: 142px;
}

.client-comment__area {
  .basic-font-brand;
  .text-style__button;
  color: @font-paragraph-color;
  text-transform: uppercase;
  width: 280px;
  margin-left: 20px;
  min-height: 150px;
}

@media (min-width: @tablet-width) {
  .client-comment__area {
    min-width: 631px;
    min-height: 174px;
    margin-left: 70px;
    font-size: 20px;
  }

  .client-comment__title {
    font-size: 36px;
    margin-left: 70px;
  }

  .client-comment__title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: @brand-color;
    top: 25px;
    left: -70px;
  }

  .client-comment__title::after {
    width: 475px;
    top: 25px;
    left: 223px;
  }
}

@media (min-width: @desktop-width) {
  .client-comment__area {
    min-width: 1220px;
    padding-left: 20px;
  }

  .client-comment__title::before {
    width: 65px;
    top: 25px;
    left: -80px;
  }

  .client-comment__title {
    margin-left: 80px;
  }

  .client-comment__title::after {
    width: 1130px;
    left: 230px;
  }
}
