.client-contacts__title,
.client-comment__title,
.extra-section__title {
  .basic-font-brand;
  .text-style__form-page--h2;
}

.client-contacts__input {
  padding-right: 30px;
  overflow: visible;
  width: 219px;
}
