.client-info__span,
.client-contacts__span,
.extra-section__span {
  .form-element__font;
  color: #222222;
}

.client-contacts__title,
.client-comment__title,
.extra-section__title {
  .form-page__h2;
}

.client-contacts__input {
  padding-right: 30px;
  overflow: visible;
  width: 219px;
}

input::placeholder {
  font-family: @brand-font;
  font-size: 16px;
  color: @font-paragraph-color;
  text-transform: uppercase;
}
