.client-info__span {
  .basic-font-brand;
  .text-style__form-element;
  color: #222222;
  display: inline-block;
  vertical-align: middle;
}

.client-info__input {
  border: 1px solid @border-color;
  appearance: textfield;
  padding-left: 13px;
}

.client-info__input:hover {
  border-color: @input-hover-color;
}

.client-info__input:focus {
  outline: none;
  border-color: @font-paragraph-color;
}

input::placeholder {
  font-family: @brand-font;
  font-size: 16px;
  color: @font-paragraph-color;
  text-transform: uppercase;
}

.client-info__input--name {
  min-width: 229px;
  min-height: 45px;
  margin-left: 11px;
}

.client-info__input--weight {
  min-width: 204px;
  min-height: 45px;
  margin-left: 14px;
  margin-top: 15px;
}

.client-info__input--age {
  min-width: 172px;
  min-height: 45px;
  margin-top: 15px;
  margin-left: 12px;
}

.client-info__label,
.client-info__label--radio {
  margin-left: 20px;
}

.client-info__label--radio:first-child {
  margin-top: 19px;
}

.client-info__label--radio:not(:first-child) {
  margin-top: 13px;
}

.client-info__label--radio:active {
  opacity: 0.3;
}

.client-info__wrap {
  display: flex;
  flex-direction: column;
  .site-size;
  border-top: 1px solid @line-color;
  border-bottom: 1px solid @line-color;
  margin-top: 23px;
  padding-bottom: 23px;
}

.client-info__basic {
  display: flex;
  flex-direction: column;
  .site-size;
  margin-top: 37px;
}

.client-info__label--radio .client-info__span {
  margin-left: 11px;
}

.client-info__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.client-info__radio-image {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid @border-color;
}

.client-info__radio-image::before {
  content: "";
  position: absolute;
  display: block;
  transition: 0.2s;
  width: 12px;
  height: 12px;
  background-color: @brand-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
}

.client-info__radio:checked + .client-info__radio-image::before {
  opacity: 1;
}

.client-info__radio:disabled + .client-info__radio-image::before {
  opacity: 0.3;
}

.client-info__radio:focus + .client-info__radio-image {
  box-shadow: 0 0 2px 2px #4d90f0;
}

.client-info__radio-image:hover {
  border-color: #bababa;
}

@media (min-width: @tablet-width) {
  .client-info__label--age::after,
  .client-info__label--do-not-know::after {
    display: none;
  }

  .client-info__basic {
    margin-left: 50px;
    width: 710px;
    margin-top: 65px;
  }

  input::placeholder {
    font-size: 20px;
  }

  .client-info__input--name {
    min-width: 567px;
    min-height: 52px;
    padding-left: 20px;
  }

  .client-info__input--weight {
    min-width: 536px;
    min-height: 52px;
    margin-left: 17px;
    padding-left: 17px;
  }

  .client-info__input--age {
    min-width: 497px;
    min-height: 52px;
    margin-left: 14px;
    padding-left: 17px;
  }

  .client-info__wrap {
    width: 630px;
    height: 196px;
    border: 1px solid @border-color;
    margin-top: 72px;
    margin-left: 71px;
  }

  .client-info__radio-image {
    width: 40px;
    height: 40px;
  }

  .client-info__radio-image::before {
    width: 18px;
    height: 18px;
  }

  .client-info__span {
    font-size: 20px;
  }

  .client-info__label:not(:first-child) {
    margin-top: 6px;
  }

  .client-info__label--radio {
    margin-left: 25px;
  }

  .client-info__label--radio .client-info__span {
    margin-left: 17px;
  }
}

@media (min-width: @desktop-width) {
  .client-info__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: -25px;
    margin-left: -30px;
  }

  .client-info__basic {
    width: 780px;
  }

  .client-info__wrap {
    width: 570px;
    margin-left: -150px;
  }

  .client-info__input--name {
    min-width: 508px;
  }

  .client-info__input--weight {
    min-width: 475px;
  }

  .client-info__input--age {
    min-width: 436px;
  }
}
