.client-contacts__title {
  .basic-font-brand;
  .text-style__form-page--h2;
  margin-left: 19px;
  margin-top: 25px;
  width: 190px;
  position: relative;
  line-height: 1;
}

.client-contacts__title::after {
  .adaptive-line;
  width: calc(50vw - 33%);
  top: 15px;
  left: 204px;
}

.client-contacts__label {
  position: relative;
}

.client-contacts__span {
  .basic-font-brand;
  .text-style__form-element;
  color: #222222;
}

.client-contacts__input {
  border: 1px solid @border-color;
  margin-left: 5px;
  padding-left: 16px;
}

.client-contacts__input:invalid {
  border-color: @error-color;
}

.client-contacts__input:invalid + .client-contacts__icon {
  fill: @error-color;
}

.client-contacts__input:hover {
  border-color: @input-hover-color;
}

.client-contacts__input:focus {
  outline: none;
  border-color: @font-paragraph-color;
}

.client-contacts__input:focus + .client-contacts__icon {
  fill: @brand-color;
}

.client-contacts__input--email {
  min-width: 219px;
  min-height: 45px;
}

.client-contacts__input--phone {
  min-width: 204px;
  min-height: 45px;
  margin-top: 15px;
}

.client-contacts__icon--email {
  position: absolute;
  top: 18px;
  left: 246px;
}

.client-contacts__icon--phone {
  position: absolute;
  top: 29px;
  left: 246px;
}

.client-contacts__icon {
  fill: #000000;
}

.client-contacts {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 33px;
}

@media (min-width: @tablet-width) {
  .client-contacts__title {
    font-size: 36px;
    width: 588px;
    margin-left: 31px;
    text-align: center;
    background-color: @simple-background-color;
    z-index: 1;
    margin-top: 75px;
  }

  .client-contacts::before {
    .adaptive-line;
    width: 100vw;
    top: -90px;
    left: calc(50% - 50vw);
  }

  .client-contacts::after {
    .adaptive-line;
    width: 100vw;
    top: 211px;
    left: calc(50% - 50vw);
  }

  .client-contacts__title::after {
    display: none;
  }

  .client-contacts {
    position: relative;
    margin-left: 0;
    margin-top: 76px;
  }

  .client-contacts__label {
    margin-left: 70px;
  }

  .client-contacts__label:nth-child(2) {
    margin-top: 5px;
  }

  .client-contacts__input {
    padding-top: 5px;
    padding-left: 20px;
  }

  .client-contacts__input--email {
    min-width: 551px;
    min-height: 52px;
    margin-left: 15px;
  }

  .client-contacts__input--phone {
    min-width: 535px;
    min-height: 52px;
    margin-left: 10px;
  }

  .client-contacts__icon--email {
    left: 595px;
    top: 20px;
  }

  .client-contacts__icon--phone {
    left: 595px;
    top: 30px;
  }

  .client-contacts__span {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .client-contacts {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 55px;
  }

  .client-contacts::before {
    .adaptive-line;
    width: 100vw;
    left: calc(50% - 50vw);
    top: -70px;
  }

  .client-contacts::after {
    .adaptive-line;
    width: 100vw;
    top: 160px;
    left: calc(50% - 50vw);
  }

  .client-contacts__title {
    margin-left: 0;
    margin-top: 70px;
    width: 590px;
  }

  .client-contacts__label {
    margin-left: 43px;
  }

  .client-contacts__label:nth-child(2) {
    margin-left: 77px;
  }

  .client-contacts__input--email {
    min-width: 486px;
  }

  .client-contacts__input--phone {
    min-width: 472px;
    padding-left: 20px;
  }

  .client-contacts__icon--email {
    left: 530px;
  }

  .client-contacts__icon--phone {
    left: 532px;
  }
}
