.cooperation__invite {
  font-family: @brand-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
  width: 123px;
}

.cooperation__address {
  .text-style__paragraph--big;
  line-height: 1.43;
  width: 135px;
  align-self: center;
}

.cooperation__wrapper {
  width: 320px;
  display: flex;
  justify-content: space-around;
  background-color: @section-background-color;
}

.cooperation__wrapper--white {
  width: 320px;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}
