.cooperation__invite {
  font-family: @brand-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: @heading-color;
  text-transform: uppercase;
  width: 125px;
  margin-left: 15px;
  margin-top: 25px;
}

.cooperation__address {
  .basic-font-paragraph;
  .text-style__paragraph--big;
  line-height: 1.43;
  width: 135px;
  align-self: center;
  margin-right: 19px;
  margin-top: 10px;
}

.cooperation__wrapper {
  width: 100vw;
  min-height: 114px;
  background-color: @section-background-color;
}

.cooperation__inner-wrapper {
  width: 320px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.cooperation__wrapper--white {
  background-color: @simple-background-color;
}

@media (min-width: @tablet-width) {
  .cooperation__inner-wrapper {
    width: 767px;
    justify-content: flex-start;
  }

  .cooperation__wrapper {
    // min-height: 201px;
  }

  .cooperation__invite {
    margin-left: 70px;
    font-size: 20px;
    width: 154px;
    margin-top: 27px;
  }

  .cooperation__address {
    margin-left: 310px;
    font-size: 16px;
    width: 160px;
    line-height: 1.25;
    margin-top: 7px;
    text-align: right;
  }

  .cooperation__address span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .cooperation__wrapper {
    width: 570px;
    position: absolute;
    background-color: @simple-background-color;
    bottom: 104px;
    left: 110px;
  }

  .cooperation__inner-wrapper {
    width: 570px;
  }

  .cooperation__invite {
    margin-top: 65px;
    margin-left: 75px;
  }

  .cooperation__address {
    text-align: left;
    margin-left: 95px;
    margin-top: 40px;
  }

  .cooperation__address span {
    margin-top: 20px;
  }
}
