.cooperation__invite {
  font-family: @brand-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: @heading-color;
  text-transform: uppercase;
  width: 123px;
  margin-left: 19px;
}

.cooperation__address {
  .basic-font-paragraph;
  .text-style__paragraph--big;
  line-height: 1.43;
  width: 135px;
  align-self: center;
  margin-right: 25px;
}

.cooperation__wrapper {
  width: 320px;
  display: flex;
  justify-content: space-around;
  background-color: @section-background-color;
  margin: 0 auto;
}

.cooperation__wrapper--white {
  width: 320px;
  display: flex;
  justify-content: space-between;
  background-color: @simple-background-color;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .cooperation__wrapper {
    width: 767px;
  }

  .cooperation__wrapper--white {
    width: 767px;
  }

  .cooperation__invite {
    margin-left: 71px;
    font-size: 20px;
    width: 154px;
  }

  .cooperation__address {
    margin-right: 72px;
    font-size: 16px;
    width: 160px;
  }
}

@media (min-width: @desktop-width) {
  .cooperation__wrapper {
    width: 570px;
    min-height: 201px;
    position: absolute;
    background-color: @simple-background-color;
    bottom: 104px;
    left: 110px;
  }
}
