.copyrights__link {
  .basic-font-paragraph;
  .text-style__paragraph--big;
  color: @font-paragraph-color;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: -4px;
}

.copyrights__link:active {
  opacity: 0.3;
}

.copyrights__logo {
  width: 39px;
  height: 49px;
  fill: @footer-icon-color;
  margin-left: 135px;
}

.copyrights__logo:hover {
  fill: @brand-color;
}

.copyrights__logo:active {
  opacity: 0.3;
}

.copyrights {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  margin-left: 120px;
}

.copyrights-name {
  color: #4d90f0;
}

@media (min-width: @tablet-width) {
  .copyrights {
    margin-left: 120px;
    min-width: 200px;
    margin-top: -5px;
  }

  .copyrights__link {
    margin-left: 135px;
    font-size: 16px;
    width: 115px;
    margin-top: -10px;
  }

  .copyrights__logo {
    margin-left: 15px;
    margin-top: -7px;
  }
}

@media (min-width: @desktop-width) {
  .copyrights__link {
    margin-left: 115px;
    margin-top: -3px;
  }

  .copyrights__logo {
    margin-left: 18px;
    margin-top: -2px;
  }
}
