.example-section {
  background-color: @section-background-color;
  margin-top: 42px;
  padding-left: 20px;
  width: 320px;
}

.example-section__title {
  font-family: @brand-font;
  color: @heading-color;
  font-size: 36px;
  line-height: 1.67;
  margin-top: 36px;
  font-weight: normal;
}

.example-section__text {
  .basic-font-paragraph;
  .text-style__paragraph--big;
}

.example-section__list dt {
  font-family: @font-paragraph;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  color: @font-paragraph-color;
}

.example-section__value {
  font-family: @brand-font;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  color: @heading-color;
}

.example-section__cost {
  font-family: @brand-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: @heading-color;
  text-transform: uppercase;
}

.example-section__switch-text {
  font-family: @brand-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: @heading-color;
  text-transform: uppercase;
}

.example-section__switch-wrapper::before {
  content: "";
  background-image: url("/img/before-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  display: block;
  width: 311px;
  height: 232px;
}
