.extra-section__span {
  .basic-font-brand;
  .text-style__form-element;
  color: #222222;
}

.extra-section__title {
  .basic-font-brand;
  .text-style__form-page--h2;
  margin-left: 20px;
  position: relative;
}

.extra-section__title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  height: 3px;
  width: 136px;
  background-color: @brand-color;
  top: 15px;
  left: 164px;
}

.extra-section__wrap {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.extra-section__label {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .extra-section__wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 650px;
    margin-left: 70px;
  }

  .extra-section__label {
    width: 300px;
  }

  .extra-section__label:nth-child(3),
  .extra-section__label:nth-child(4) {
    margin-top: 54px;
  }

  .extra-section__title {
    font-size: 36px;
    margin-left: 70px;
  }

  .extra-section__title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: @brand-color;
    top: 25px;
    left: -70px;
  }

  .extra-section__title::after {
    width: 445px;
    top: 25px;
    left: 253px;
  }

  .extra-section__span {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .extra-section__title::before {
    width: 65px;
    left: -70px;
  }

  .extra-section__title::after {
    width: 1115px;
    left: 255px;
  }

  .extra-section__wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
  }

  .extra-section__label {
    width: 200px;
    margin-top: 0;
  }

  .extra-section__label:nth-child(3),
  .extra-section__label:nth-child(4) {
    margin-top: 0;
  }
}
