.footer-copyrights__link {
  .basic-font-paragraph;
  .text-style__paragraph--big;
  color: @font-paragraph-color;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.footer-copyrights__link:active {
  opacity: 0.3;
}

.footer-copyrights__logo {
  width: 27px;
  height: 34px;
  fill: @footer-icon-color;
}

.footer-copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  padding: 20px;
}

@media (min-width: @tablet-width) {
  .footer-copyrights__link {
    margin-left: 120px;
    font-size: 16px;
    width: 115px;
  }
}
