.gift-section {
  min-height: 289px;
  width: 280px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: @brand-color;
  margin-left: 20px;
  position: relative;
}

.gift-section__text {
  .basic-font-paragraph;
  .text-style__paragraph--big;
  color: @simple-background-color;
  width: 159px;
  margin-top: 68px;
  margin-left: 75px;
  display: inline-block;
  vertical-align: middle;
}

.gift-section__text::before {
  content: "";
  background-image: url("../img/icon-gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  display: block;
  width: 56px;
  height: 61px;
}

@media (min-width: @tablet-width) {
  .gift-section {
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-color: @simple-background-color;
  }
}

@media (min-width: @desktop-width) {
  .gift-section {
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin-top: 80px;
  }
}
