.how-it-works__title {
  font-family: @brand-font;
  color: @heading-color;
  font-size: 36px;
  line-height: 1.67;
  margin-top: 36px;
  font-weight: normal;
  margin-left: 20px;
}

.how-it-works__list {
  width: 320px;
  list-style-type: none;
}

.how-it-works__text {
  .basic-font-paragraph;
  .text-style__paragraph--big;
}

.how-it-works__item {
  margin-top: 35px;
}

.how-it-works__item--leaf::before {
  .how-it-works__item--style;
  background-image: url("/img/advantage-leaf@1x.png");
}

.how-it-works__item--powder::before {
  .how-it-works__item--style;
  background-image: url("/img/advantage-powder@1x.png");
}

.how-it-works__item--dining::before {
  .how-it-works__item--style;
  background-image: url("/img/advantage-dining@1x.png");
}

.how-it-works__item--clock::before {
  .how-it-works__item--style;
  background-image: url("/img/advantage-clock@1x.png");
}
