.main-page__title-container {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: #65a93c;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 305px;
  width: 320px;
  margin-top: -24px;
  position: relative;
}

@media (min-resolution: @retina-dppx) {
  background-image: url("../img/index-background-mobile@2x.jpg");
}

.main-page {
  position: relative;
}

.main-page__wrap {
  margin: 0 auto;
  width: 320px;
}

.main-page__title {
  width: 250px;
  .basic-font-brand;
  min-height: 74px;
  font-size: 36px;
  text-align: center;
  color: @simple-background-color;
  margin-left: 38px;
  position: relative;
  top: 25px;
}

.main-page__motivation {
  width: 198px;
  min-height: 16px;
  .basic-font-brand;
  font-size: 14px;
  color: @simple-background-color;
  margin-left: 75px;
  text-transform: uppercase;
  position: relative;
  top: 19px;
}

.main-page__can-container {
  width: 280px;
  min-height: 270px;
  object-fit: contain;
  display: block;
  position: relative;
  top: -120px;
  left: 12px;
}

.main-page__button {
  width: 280px;
  min-height: 40px;
  margin-top: -200px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  padding-top: 12px;
}

.main-page__button--wrap {
  .site-size;
  position: relative;
}

@media (min-width: @tablet-width) {
  .main-page__title-container {
    background-image: none;
    background-color: @simple-background-color;
    width: 767px;
    z-index: -10;
  }

  .main-page__wrap {
    width: 767px;
  }

  .main-page__can-container {
    width: 709px;
    height: 609px;
    object-fit: contain;
    display: block;
    margin-top: 40px;
    margin-left: 20px;
    z-index: -1;
  }

  .main-page__title,
  .main-page__motivation {
    color: @heading-color;
  }

  .main-page__title {
    font-size: 60px;
    width: 490px;
    text-align: left;
    margin-left: 90px;
  }

  .main-page__motivation {
    font-size: 20px;
    margin-left: 90px;
  }

  .main-page__button {
    position: absolute;
    top: -500px;
    left: -150px;
    font-size: 20px;
    width: 245px;
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .main-page__wrap {
    display: flex;
    width: 1300px;
  }

  .main-page__background--desktop {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-color: #65a93c;
    background-size: 720px auto;
    width: 50%;
    height: 696px;
    background-position: right 0 center;
    background-repeat: no-repeat;
    position: absolute;
    top: -115px;
    right: 0;
    display: block;
    left: auto;
    z-index: 1;
  }

  @media (min-resolution: @retina-dppx) {
    .main-page__background--desktop {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .main-page__button {
    position: relative;
    top: -110px;
    left: -420px;
    z-index: 2;
  }

  .main-page__can-container {
    object-fit: contain;
    position: relative;
    z-index: 10;
    top: 110px;
    left: -320px;
  }
}
