.catalog-title {
  .text-style_title;
  margin-left: 22px;
}

.catalog-item__title {
  .text-style_2;
  text-transform: uppercase;
}

.catalog-table {
  .text-style_4;
  margin-left: 20px;
}

.catalog-button {
  padding: 11px 108px 10px 111px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  display: block;
}

.catalog-item {
  border: 1px solid @grey;
}
