.main-page__title-container {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 305px;
  width: 320px;
}

.page-title__main {
  width: 245px;
  min-height: 74px;
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 38px;
}

.page-title__motivation {
  width: 198px;
  min-height: 16px;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 75px;
}

.main-page__title-container::after {
  content: "";
  background-image: url("/img/index-can-mobile@1x.png");
  width: 280px;
  min-height: 270px;
  object-fit: contain;
  display: block;
  position: absolute;
  margin-left: 20px;
  margin-top: 29px;
}

.main-page__button {
  width: 280px;
  min-height: 40px;
  margin-top: 130px;
  margin-left: 20px;
}

.page-header__logo-image {
  margin-left: 20px;
  margin-top: 11px;
}
