.map {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .map {
    width: 767px;
  }

  .map-source {
    width: 767px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1440px;
    margin-top: 70px;
  }

  .map-source {
    width: 1440px;
  }
}
