.map-source {
  width: 100vw;
  margin-bottom: -4px;
}

@media (min-width: @tablet-width) {
  .map-source {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .map-source {
    margin-top: 70px;
  }
}
