.options-list__weight-loss,
.options-list__weight-gain {
  background-color: @section-background-color;
  width: 280px;
  min-height: 266px;
}

.options-list__weight-gain {
  margin-top: 20px;
}

.options-list__weight-loss {
  margin-top: 22px;
}

.options-list__title {
  .basic-font-brand;
  color: @heading-color;
  font-size: 24px;
}

.options-list__title::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  display: block;
  background-color: @brand-color;
}

.options-list__link--slim,
.options-list__link--pro {
  .basic-font-paragraph;
  .text-style__button;
  text-transform: uppercase;
}

.options-list__link--slim::after,
.options-list__link--pro::after {
  content: "";
  background-image: url("/img/icon-right-arrow-verylong.svg");
  width: 25px;
  height: 15px;
  object-fit: contain;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.options-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}

.options-list__paragraph {
  padding-left: 21px;
  padding-right: 36px;
  .basic-font-paragraph;
  .text-style__paragraph--big;
}
