.page-footer {
  min-height: 236px;
  background-color: @section-background-color;
  width: 100vw;
}

.page-footer__wrap {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__social {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid @border-color;
  border-top: 1px solid @border-color;
  width: 280px;
  padding-bottom: 18px;
  padding-top: 22px;
  margin-top: 24px;
}

.page-footer__icon {
  fill: @footer-icon-color;
}

.page-footer__icon:hover {
  fill: @brand-color;
}

.page-footer__icon:active {
  opacity: 0.3;
}

.page-footer__vk {
  width: 22px;
  height: 12px;
}

.page-footer__insta {
  width: 17px;
  height: 17px;
}

.page-footer__fb {
  width: 10px;
  height: 19px;
}

.page-footer__logo {
  margin-top: 39px;
}

.page-footer__logo:hover {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

.page-footer__social-item--vk {
  margin-left: 35px;
}

.page-footer__social-item--insta {
  margin-left: 35px;
}

.page-footer__social-item--fb {
  margin-left: 39px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-height: 150px;
  }

  .page-footer__wrap {
    width: 767px;
    flex-direction: row;
    // align-items: center;
    padding-top: 30px;
  }

  .page-footer__logo {
    margin-left: 31px;
    margin-top: -10px;
  }

  .page-footer__social {
    border: none;
    margin-left: 100px;
    margin-top: 5px;
  }

  .page-footer__vk {
    width: 30px;
    height: 16px;
    margin-left: 5px;
  }

  .page-footer__insta {
    width: 23px;
    height: 23px;
  }

  .page-footer__fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrap {
    width: 1300px;
    justify-content: space-around;
  }
}
