.page-footer {
  min-height: 236px;
  background-color: @section-background-color;
  width: 100vw;
}

.page-footer__wrap {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 37px;
}

.page-footer__logo:hover {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-height: 150px;
  }

  .page-footer__wrap {
    width: 767px;
    flex-direction: row;
    padding-top: 30px;
  }

  .page-footer__logo {
    margin-left: 31px;
    margin-top: -6px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrap {
    width: 1300px;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin-left: 40px;
    margin-top: -3px;
  }
}
