.page-header {
  background-color: @simple-background-color;
  min-height: 65px;
  .site-size;
  width: 320px;
}

.page-header__logo-image {
  margin-left: 20px;
  margin-top: 11px;
}

.page-header__logo-image:hover {
  opacity: 0.8;
}

.page-header__logo-image:active {
  opacity: 0.6;
}

.page-header__wrapper {
  display: flex;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    width: 767px;
  }

  .page-header__logo-image {
    margin-top: 24px;
    margin-left: 29px;
    width: 203px;
    height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1300px;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo-image {
    margin-top: 20px;
    margin-left: 40px;
  }
}
