.basic-font-brand {
  font-family: @brand-font;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.basic-font-paragraph {
  font-family: @font-paragraph;
  color: @font-paragraph-color;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.text-style__title {
  font-size: 36px;
  color: @heading-color;
}

.text-style__button {
  font-size: 16px;
  color: @heading-color;
}

.text-style__paragraph--big {
  font-size: 14px;
}

.text-style__paragraph--small {
  font-size: 12px;
}

.text-style__form-element {
  font-size: 16px;
  text-transform: uppercase;
}

.text-style__form-page--h2 {
  font-size: 24px;
  color: @heading-color;
}

.text-style__additional-catalog {
  font-size: 16px;
  color: #222222;
}

.text-style__form-page--text {
  font-size: 14px;
  color: @heading-color;
  text-transform: uppercase;
}

.button {
  font-family: @brand-font;
  background-color: @brand-color;
  font-size: 16px;
  color: @simple-background-color;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.site-size {
  margin: 0 auto;
  width: 320px;
}

.how-it-works__item--style {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  display: block;
  width: 60px;
  height: 60px;
  background-color: @brand-color;
}

.adaptive-line {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  height: 3px;
  background-color: @brand-color;
}
