@brand-color: #68b738;
@section-background-color: #f2f2f2;
@font-paragraph-color: #444444;
@heading-color: #111111;
@brand-font: "Oswald", "Tahoma", sans-serif;
@font-paragraph: "Arial", "Tahoma", sans-serif;
@border-line: 2px solid @section-background-color;
@mobile-width: 320px;
@tablet-width: 767px;
@desktop-width: 1440px;
